<% include include/main-header %>

</head>
<body class="hold-transition skin-blue sidebar-mini">
   	<div class="wrapper">
   		<!-- Header Starts here-->
  		<% include include/header %>
  		<!-- Header Ends here-->
  		
  		<!-- Sidebar Starts Here-->
  			<% include include/sidebar %>
    		<!-- Sidebar Ends Here-->
    		
    	<div class="content-wrapper">
    	  	<!-- Content Header (Page header) -->
    		<section class="content-header">
      			<h1>404</h1>
      			<ol class="breadcrumb">
        			<li><a href="<%= backendDirectory %>/index"><i class="fa fa-dashboard"></i> Home</a></li>
        			<li class="active">Not found</li>
      			</ol>
    		</section>	
    		<section class="content">
      			<div class="row">
      					<div class="panel-body no-padding-top bg-white">
      						<h1>Sorry, no such page found!</h1>
      					</div>
      			</div>
    		</section>
    		<!--//body content--> 
  		</div>
  		

<!-- Footer Starts Here-->
	<% include include/footer %>
<!-- Footer Ends Here-->
<!--//Main Content--> 
	</div>
<!-- Page-Level Plugin Scripts-->

</body>
</html>